body {
	font-family: Arial, sans-serif;
	position: relative;
	background-image: linear-gradient(rgba(56,114,184,.15) 1px, transparent 1px), linear-gradient(90deg, rgba(56,114,184,.15) 1px, transparent 1px);
	background-size: 10px 10px;
}

.container {
	position: relative;
	width: 40%;
	margin: 100px auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	min-width: 250px;
	border-bottom: 30px solid #3872B8;
}

.greeting-container {
	position: absolute;
	top: -50px;
	left: 0;
	width: calc(100% - 20px);
	height: 60px;
	line-height: 18px;
	background-color: #3872B8;
	border-radius: 10px 10px 0px 0px;
	padding: 0 10px;
}

h1 {
	text-align: center;
	color: #000000;
}

h3 {
	text-align: left;
	color: #ffffff;

}

p {
	text-align: left;
	color: #000000;
	font-weight: bold;
}

.input-voucher {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

input[type="number"] {
	width: calc(100% - 22px);
	padding: 10px 11px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: left;
	font-size: 21px;
	font-weight: bolder;
}

#button-login {
	width: 100%;
	padding: 10px 0;
	border: 1px solid #00A74F;
	background-color: #00A74F;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bolder;
}

#button-login:hover {
	background-color: #009647;
}

#button-login:disabled {
	background-color: #ccc;
	border-color: #ccc;
	cursor: not-allowed;
}

.logo {
	display: block;
	margin: 50px auto 10px;
	width: 200px;
	height: auto;
}

/* Pricing List Styles */
.pricing-list {
	width: 90%;
	margin: 0 auto 15px;
	padding: 10px;
	background-color: #f4f4f4;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pricing-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.pricing-item:last-child {
	border-bottom: none;
}

.pricing-label {
	font-size: 16px;
	font-weight: 500;
}

.pricing-value {
	font-size: 16px;
	font-weight: 700;
}

/* Responsive Design */
@media (max-width: 675px) {
	.pricing-value {
		margin-top: 5px;
	}

	.greeting-container h3,
	.oper-hint,
	.logo,
	.terms-link,
	#login-form,
	#button-area {
		font-size: 14px;
	}

	input[type="number"] {
		font-size: 16px;
	}

	.logo {
		margin: 15px auto;
	}

	.greeting-container {
		height: 50px;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.terms-link {
	text-decoration: none;
}

.oper-hint {
	color: red;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 5px;
}

input[type=number] {
	-moz-appearance: textfield;
	/* Firefox */
}

.hidden {
	display: none;
}

@keyframes blink {
	0% {
		color: #00A74F;
	}

	50% {
		color: black;
	}

	100% {
		color: #00A74F;
	}
}